@import "tailwindcss";

@font-face {
  font-family: "balatro";
  src: url("/balatro.woff2") format("woff2");
}

@font-face {
  font-family: "alagard";
  src: url("/alagard.ttf") format("truetype");
}

:root {
  --background: #4f6367;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "balatro", sans-serif;
  --font-cards: "alagard", sans-serif;
  --color-*: initial;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark: #4f6367;
  --color-darker: #394f54;
  --color-darkest: #162325;
  --color-gray: #bfc7d5;
  --color-gray-alt: #dcdcdc;
  --color-gray-light: #fdfdfd;
  --color-beige-light: #f7f1e4;
  --color-beige: #b7a88a;
  --color-beige-dark: #847f66;
  --color-green-light: #74cca8;
  --color-green: #56a786;
  --color-green-dark: #459373;
  --color-blue-light: #3cb4ff;
  --color-blue: #009cfd;
  --color-blue-dark: #008be3;
  --color-orange-light: #fda200;
  --color-orange: #ea9600;
  --color-orange-dark: #c88000;
  --color-red-light: #ec2d33;
  --color-red: #de443b;
  --color-red-dark: #a61a1f;
  --color-yellow: #fdcf51;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "balatro", sans-serif;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25) 2px,
    transparent 2px,
    transparent 4px
  );
  pointer-events: none;
  z-index: 50;
  opacity: 0.2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s linear forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.pixel-corners {
  clip-path: polygon(
    0px calc(100% - 8px),
    2px calc(100% - 8px),
    2px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 2px),
    8px calc(100% - 2px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 2px) 8px,
    calc(100% - 2px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 2px,
    calc(100% - 8px) 2px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 2px,
    4px 2px,
    4px 4px,
    2px 4px,
    2px 8px,
    0px 8px
  );
}

.pixel-corners-large {
  clip-path: polygon(
    0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px
  );
}

input::placeholder {
  height: 28px;
}
